/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.02.2015, 18:58:17
    Author     : DEVELOPER
*/

.tab thead th, .tab.td{
    text-align:center;
    vertical-align:middle;
}
.tab.td{
    color: #666;
    font-weight: bold;
}
.tab caption{
	padding:10px;
    text-align: center;
    color: #666;
}
.tab th span
{
    margin-left: 42px;
}

table.jqplot-table-legend
{
    width: auto !important;
}

.portlet
{
position:fixed;
width:16%;
}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #4a98af;
}

.portlet-title
{
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #fff/*#298dcd*/;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#ECFBD4;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	/*background:#F8F8FF;*/
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #219994/*#C9E0ED*/;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #219994;
}

#content
{
    padding: 20px;
}

#sidebar
{
	float:right;
	width:19%;
	/*padding: 20px 20px 20px 0;*/
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #219994;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	/*background:white url(bg.gif) repeat-x left top;*/
	background-color:#2FA864/*#1E582E*/;
	height:32px;
}

#mainmenu ul
{
	padding:5px 10px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a {
	color:#fff;
	background-color:transparent;
	text-decoration:none;
	padding:4px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a {
	color: #328AA4;
	background-color: #F8F8FF;
	text-decoration:none;
}
#uz, #kz, #tj, #kg, #tm {
	display: none;
	height: 0;
	/*overflow: auto;*/
	position: relative;
	/*right: 0;*/
	top: -4em;
	/*width: 220px;*/
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	/*display:inline;
	float:left;*/
	font-size: 0.9em;
	padding-top: 10px;
	padding-left:30px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}