/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.02.2015, 18:58:17
    Author     : DEVELOPER
*/

.tab thead th, .tab.td{
    text-align:center;
    vertical-align:middle;
}
.tab.td{
    color: blue;
    font-weight: bold;
}
.tab caption{
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    color: #149BDF;
}

table.jqplot-table-legend {
                width: auto !important;
            }